# macOS
.DS_Store

# VSCode
.vscode/

# Swift / SPM
/.build
/Packages
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata

# Xcode
xcuserdata/
DerivedData/
*.xcodeproj

# Credentials
.netrc

# Local environment
.env
.env.*
!.env.example
